<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        div{
            height: fit-content;
        }

    </style>
</head>

<body>

<a href="/">
    <button>Go back</button>
</a>

<p class="title">Images</p>
<div>
    <ul>
        <li th:each="view : ${views}">
            <a th:href="@{/image/{id}(id=${view.id})}">
                <img th:src="${view.file}" width="350"/>
            </a>
        </li>
    </ul>
</div>

</body>
</html>
