<html xmlns:th="https://www.thymeleaf.org">
<head>
    <style type="text/css">

        .upload-form{
            border: 1px solid lightslategray;
            padding: 1em;
            background: azure;
            margin: 0.6em;
        }
        div{
            display: inline-block;
        }
        p.title{
            text-align: center;
            text-transform: capitalize;
        }
        ul {
            list-style-type: none;
        }

    </style>
</head>
<body>

<h2>Basic gallery</h2>
<div>
<div class = "upload-form">
<form method="POST" action="/upload" enctype="multipart/form-data">
    <p class="title">image upload form</p>
    <input type="file" name="file"
           accept="image/*" required/>
    <br/>
    <h5><span>Optional image data:</span></h5>
    <div>
        <label for="textarea">Description</label>
        <textarea class="form-control" id="textarea" rows="3"  name="description"></textarea>
    </div>
    <div class="form-group ">
        <label for="tagsInput">Tags (separated by commas)</label>
        <input type="text" id="tagsInput" name="tags">
    </div>
    <input type="submit" value="Submit" />
</form>
</div>
    <div>
    <form method="POST" action="/find" id="searchForm" enctype="multipart/form-data">
        <p>Find image: </p>
        <select name="type" form="searchForm">
            <option value="tag">Tag Name</option>
            <option value="date">Date (format: yyyy-MM-dd, use <, >, yyyy-MM-dd - yyyy-MM-dd to indicate search period)</option>
            <option value="id">Id</option>
            <option value="description">Description</option>
        </select>



        <input type="text" name="query" required/>

        <input type="submit" value="Submit" />
    </form>
    </div>
</div>

<hr>
<p class="title">Images</p>
<div>
    <ul>
        <li th:each="view : ${views}">
        <a th:href="@{/image/{id}(id=${view.id})}">
            <img th:src="${view.file}"/>
        </a>
        </li>
    </ul>
</div>

</body>
</html>
